<div class="form-group">
  <h1>Create New Project</h1>
  <%= simple_form_for @project, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :title, class: "form-control" %>
  <%= f.input :description, class: "form-control" %>
  <%= f.input :due_date, class: "form-control" %>
  <%= f.submit class: "btn btn-default" %>
  <%= button_tag "Reset", type: :reset %>
<% end %>
</div>