<div class="container" max-width="90%">
		<h1>Welcome to your projects!</h1>
	
			<div class="input-group search">
			<form action="<%= projects_path %>" method="get">
				<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
				<span class="input-group-btn search_btn"><button type="submit" class="btn btn-default">Submit</button></span>
			</form>
		</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Due Date</th>
			</tr>
		</thead>
	</tr>
	<% @projects.each do |project| %>
	<tr>
		<td><%= project.title %></td>
		<td><%= project.description %></td>
		<td><%= project.due_date %></td>


		<td><%= link_to "Edit", edit_project_path(project), class: "btn btn-default" %></td>
		<td>
			<%= link_to "Details", project_path(project), class: "btn btn-default" %><td><%= link_to "Delete", project_path(project), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
			<% end %></td>
		</tr>
		
	</table>
</div>