<div class="container" max-width="90%">
	<h1>Your Projects</h1>
	<br>
<% if !@projects.present? %>
<em>You don't have any projects.. feel like <a href="/projects/new">adding one?</a></em>
<% end %>
	
<% if @projects.present? %>	
	<div class="input-group search">
		<form action="<%= projects_path %>" method="get">
			<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
			<span class="input-group-btn search_btn"><button type="submit" class="btn btn-default">Submit</button></span>
		</form>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>View</th>
				<th>Title</th>
				<th>Description</th>
				<th>Due Date</th>
			</tr>
		</thead>
	</tr>
	<% @projects.each do |project| %>
	<tr>
		<td><%= link_to "Details", project_path(project), class: "btn btn-default" %></td>
		<td><strong><%= project.title %></strong></td>
		<td><%= project.description %></td>
		<td><%= project.due_date %></td>
		<td>
			<td align="right"><%= link_to edit_project_path(project) do %>
				<span class="glyphicon glyphicon-edit"></span>
			<% end %>
			&nbsp;<%= link_to project_path(project), method: :delete, data: { confirm: 'Are you sure?' } do %>
				<span class="glyphicon glyphicon-remove"></span>
			<% end %>
			<% end %></td>
		</tr>
	</table>
<% end %>
</div>