<div class="project-area"><span class="label label-default">Project Name</span><h1><%= @project.title %></h1></div>
<div class="project-details">
	<strong>Description:</strong> <%= @project.description %><br>
	<strong>Due Date:</strong> <%= standard_date(@project.due_date) %>
</div>
<hr>
<% if @task.errors.any? %>
<ul>
	<% @task.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
<% end %>
<div class="col-sm-12">
	<h3 class="category-headers">New Task</h3>
	<%# form_for @task, url: project_tasks_path(@project) do |f| %>
	<div class="task-form">
		<%= render partial: "/tasks/form", locals: {tasks: @project.tasks, project: @project } %>
	</div>
	<br>
	<div class="col-sm-6">
		<h4>Pending Tasks</h4>
			<div id="tasks">
				<%= render partial: "/tasks/tasks_table", locals: {tasks: @project.tasks.where(status: false)} %>
			</div>
	</div>
	<div class="col-sm-6">
		<h4>Completed Tasks</h4>
			<div id="tasks-done">
			<%= render partial: "/tasks/tasks_table", locals: {tasks: @project.tasks.where(status: true)} %>
			</div>
	</div>
	<div id="discussion-form" class="col-sm-12">

			<%= render partial: "/discussions/form", locals: {project: @project, discussion: @discussion} %> 
	</div>
</div>
<div>
	<div id="discussions">
		<%= render partial: "/discussions/discussions_table", locals: {discussions: @project.discussions} %>
	</div>
</div>