<div class="project-area"><span class="label label-default">Project Name</span><h1><%= @project.title %></h1></div>
<div class="project-details">
	<strong>Description:</strong> <%= @project.description %><br>
	<strong>Due Date:</strong> <%= standard_date(@project.due_date) %><br>
	<strong>Members:</strong> <% @members.each do |member| %><%= member%> , <% end %><br>
  <% if @project.favorited_users.present? %>
  <strong>Favorited by:</strong> <%= @project.favorited_users.map(&:full_name).join(", ") %>
<% end %>
</ul>

  </strong>
</div>


<ul>
  <% @project.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
  </ul> 


<% if @project.user != current_user %>
<% if user_signed_in? && !current_user.has_favorited?(@project) %>
<%= link_to "Favorite", project_favorites_path(@project, @favorite), class: "btn btn-xs btn-default", method: :post %>
<% end %>

<% if user_signed_in? && current_user.has_favorited?(@project) %>
<% @favorite = current_user.favorites.find_by_project_id(@project) %>
<%= link_to "Unfavorite", project_favorite_path(@project, @favorite), class: "btn btn-xs btn-default", method: :delete %>
<% end %>
<% end %>

<% if @taggings.present? %>
    <% @taggings.each do |tag|%>
      <% if tag == "Misc" %>
      <span class="glyphicon glyphicon-tag misc"></span> <%= tag %>
       <% end %>
      <% if tag == "Client" %>
      <span class="glyphicon glyphicon-tag client"></span> <%= tag %>
       <% end %>
      <% if tag == "Design" %>
      <span class="glyphicon glyphicon-tag design"></span> <%= tag %>
       <% end %>
      <% if tag == "Backend" %>
      <span class="glyphicon glyphicon-tag backend"></span> <%= tag %>
      <% end %>
      <% if tag == "Server" %>
      <span class="glyphicon glyphicon-tag server"></span> <%= tag %>
       <% end %>
<% end %>
<% end %>













<hr>
<% if @task.errors.any? %>
<ul>
	<% @task.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
<% end %>
<div class="col-sm-12">
	<h3 class="category-headers">New Task</h3>
	<%# form_for @task, url: project_tasks_path(@project) do |f| %>
	<div class="task-form">
		<%= render partial: "/tasks/form", locals: {tasks: @project.tasks, project: @project } %>
	</div>
	<br>
	<div class="col-sm-6">
		<h4>Pending Tasks</h4>
			<div id="tasks">
				<%= render partial: "/tasks/tasks_table", locals: {tasks: @project.tasks.where(status: false)} %>
			</div>
	</div>
	<div class="col-sm-6">
		<h4>Completed Tasks</h4>
			<div id="tasks-done">
			<%= render partial: "/tasks/tasks_table", locals: {tasks: @project.tasks.where(status: true)} %>
			</div>
	</div>
	<div id="discussion-form" class="col-sm-12">

			<%= render partial: "/discussions/form", locals: {project: @project, discussion: @discussion} %> 
	</div>
</div>
<div>
	<div id="discussions">
		<%= render partial: "/discussions/discussions_table", locals: {discussions: @project.discussions} %>
	</div>
</div>