<!DOCTYPE html>
<html>
 <head>
   <title>CodeCore Quiz #1</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
 </head>
 <body>
  <header class="menu">
   <ul>
    <li><a href="/projects/new">New Project</a></li>
    |
    <li><a href="/projects/">Show Projects</a></li>
    
    <li class="pull-right">
         <% if user_signed_in? %>
         Hello, <%= current_user.first_name %>!&nbsp; <%= link_to "Logout", destroy_user_session_path, method: :delete %> | <span class="glyphicon glyphicon-heart pink"></span> <a href="/favorites/show">My Favorites</a>
         <% else %>
         <%= link_to "Login", new_user_session_path %>
         <% end %>
    </li>
  </ul>
  </header>
  <div class="container">
   <div id="alerts">
    <% if flash[:success] %>
    <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
    <% end %>
    <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
    <% end %>
   </div>
   <%= yield %>
   <hr>
  </div>
  </body>
</html>